.Rproj.user
.Rhistory
.RData
.Ruserdata

*.pptx
#nothing from these folders
GIS/*
Images/*
Graphics/*
Dataout/*
#no data
*.csv
*.txt
*.rds
*.xlsx
*.xls
*.zip
*.png
*.twbx
*.pptx

#nothing from these folders
AI/*
GIS/*
Images/*
Graphics/*